<!DOCTYPE HTML>
<html>
<head>
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8"
      href="{{url_for('static', filename='vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css')}}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Review</a>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
    <p class="text-warning">{{ message }}</p>
{% endfor %}
{% endwith %}
{% block content %}{% endblock %}
<script src="{{url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js')}}"></script>
</div>
</body>
</html>
