<!DOCTYPE HTML>
<html>
<head>
<title>Ranko</title>
<link rel="stylesheet" type="text/css" media="screen"
      href="{{url_for('static', filename='vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" media="screen"
      href="{{url_for('static', filename='css/view.css')}}">
<link rel="stylesheet" type="text/css" media="screen"
      href="{{url_for('static', filename='vendor/jquery-ui-1.11.2/jquery-ui.min.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Review</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
{% if g.user.is_authenticated() %}
        <ul class="nav navbar-nav">
{% if g.user.is_admin() %}
            <li><a href="/admin">Admin panel</a></li>
{% endif %}
        </ul>
{% endif %}
        <ul class="nav navbar-nav navbar-right">
{% if g.user.is_authenticated() %}
            <li><p class="navbar-text">Signed in as {{g.user.name}}</p></li>
            <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
{% else %}
            <li><a href="{{url_for('auth.signup')}}">Sign up</a></li>
            <li><a href="{{url_for('auth.login')}}">Log in</a></li>
{% endif %}
        </ul>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
    <p class="text-warning">{{ message }}</p>
{% endfor %}
{% endwith %}
{% block content %}{% endblock %}
<script src="{{url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/pdfjs-' + config.X_PDFJS_VERSION + '-dist/build/pdf.js')}}"></script>
<script src="{{url_for('static', filename='vendor/jquery.jeditable.mini.js')}}"></script>
<script src="{{url_for('static', filename='vendor/jquery-ui-1.11.2/jquery-ui.min.js')}}"></script>
{% assets "coffee_app" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="{{url_for('static', filename='vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js')}}"></script>
{% block js_end %}{% endblock %}
</div>
</body>
</html>
