<!DOCTYPE HTML>
<html>
<head>
<title>Ranko - {% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" media="screen"
      href="{{url_for('static', filename='vendor/jquery-ui-1.11.2/jquery-ui.min.css')}}">
{% assets "scss_all" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Review</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
{% if g.user.is_authenticated() %}
        <ul class="nav navbar-nav">
{% if g.user.is_admin() %}
            <li><a href="/admin">Admin panel</a></li>
{% endif %}
        </ul>
{% endif %}
        <ul class="nav navbar-nav navbar-right">
{% if g.user.is_authenticated() %}
            <li><a href="{{url_for('bp.home')}}">Home</a></li>
            <li><p class="navbar-text">Signed in as {{g.user.pretty_name()}}</p></li>
            <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
{% else %}
            <li><a href="{{url_for('auth.signup')}}">Sign up</a></li>
            <li><a href="{{url_for('auth.login')}}">Log in</a></li>
{% endif %}
        </ul>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
    <p class="text-warning">{{ message }}</p>
{% endfor %}
{% endwith %}
{% block content %}{% endblock %}
{% assets "vendor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "coffee_app" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="{{url_for('xstatic', xs_package='bootstrap_scss', filename='js/bootstrap.js')}}"></script>
{% block js_end %}{% endblock %}
</div>
</body>
</html>
