{% extends "base.html" %}
{% block content %}
<div class="col-md-4">
    <form method="post" enctype="multipart/form-data" role="form">
        {{form.hidden_tag()}}

        <div class="form-group">
            {{form.title.label()}}
            {{form.title(class_='form-control')}}
        </div>
        <p class="help-block">
            {{form.title.description}}
        </p>

        <p><button type="submit" class="btn btn-primary">Submit changes</button></p>
    </form>

    <hr>

    <form method="post" action="{{delete_action}}" enctype="multipart/form-data" role="form">
        {{delete_form.hidden_tag()}}
        <p class="help-block">
        You can also delete this document. This is irreversible.
        </p>
        <p>
        <button type="submit" class="btn btn-danger">Delete this document</button>
        </p>
    </form>
</div>
{% endblock %}
