{% from 'macros.html' import form_field %}
{% extends "base.html" %}
{% block content %}
<div class="col-md-4">
    <form method="post" enctype="multipart/form-data" role="form">
        {{ form.hidden_tag() }}
        {{ form_field(form.title) }}
        <p><button type="submit" class="btn btn-primary">Submit changes</button></p>
    </form>

    <hr>

    <form method="post" action="{{delete_action}}" enctype="multipart/form-data" role="form">
        {{delete_form.hidden_tag()}}
        <p class="help-block">
        You can also delete this document. This is irreversible.
        </p>
        <p>
        <button type="submit" class="btn btn-danger">Delete this document</button>
        </p>
    </form>
</div>
{% endblock %}
