{% from 'macros.html' import link_to_doc %}
{% from 'macros.html' import upload_form %}
{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated() %}
<button type="button" class="btn btn-primary btn-lg" id="upload_link">
      <span class="glyphicon glyphicon-upload"></span> Upload a file
</button>
<div id="upload_dialog" title="Upload a file">
    {{ upload_form (form, url_for('.upload')) }}
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Your documents</h2>
        <ul>
        {% for doc in documents %}
        <li>
            {{ link_to_doc(doc) }}
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Your reviews</h2>
    </div>
</div>
{% else %}
<div class="jumbotron">
<div class="row">
    <div class="col-md-8">
        <p> Upload and review documents in your browser. </p>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg" id="upload_link">
              <span class="glyphicon glyphicon-upload"></span> Upload a file
        </button>
    </div>
</div>
</div>

<div id="upload_dialog" title="Upload a file">
    {{ upload_form (form, url_for('.upload')) }}
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Upload</h2>

        Host a file in a single click: PDFs, images, and audio files are
        supported.
        Your document will be displayed in your browser.
        No plugins needed.
    </div>
    <div class="col-md-3">
        <h2>Send a link</h2>

        E-mail a unique URL to your collaborators.
    </div>
    <div class="col-md-3">
        <h2>Get reviews</h2>

        Collaborators can annotate and comment on your document.
    </div>
    <div class="col-md-3">
        <h2>Act on them</h2>

        Annotations turn into a todo-list so you can prepare the next version.
    </div>
</div>
{% endif %}

{% endblock %}
{% block js_end %}
<script>upload_form_init();</script>
{% endblock %}
