{% from 'macros.html' import annotation_state %}
{% from 'macros.html' import glyphicon %}
{% extends "base.html" %}
{% block content %}

<div class="col-md-9">
<table class="table">
    <thead>
        <tr>
            <th>Page</th>
            <th>Text</th>
            <th>Done?</th>
        </tr>
    </thead>
    <tbody>
        {% for ann in annotations %}
        <tr>
            <td>{{ann.page}}</td>
            <td>{{ann.text}}</td>
            <td>{{annotation_state(ann)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="col-md-3">
<div id="subnav" data-spy="affix">

    <div class="list-group">
        <a href="{{url_for('document.view_doc', id=doc.id)}}" class="list-group-item">
            {{ glyphicon('file') }}
            Document mode
        </a>
    </div>
</div>
</div>

{% endblock %}
{% block js_end %}
<script>
list_view_init('/annotation/');
</script>
{% endblock %}
