{% macro upload_form(form, action) %}
<form method="post" action="{{action}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form_field(form.file) }}
    {{ form_field(form.title) }}
    <p><input type="submit" value="Upload"></p>
</form>
{% endmacro %}

{% macro render_share_form(form) %}
<p>
By clicking on this button you will generate a link to this document.
</p>

<p>
The person you will send this link to will be able to make comments on it
without having to register.
</p>

<form method="post" enctype="multipart/form-data" id="share_form">
    {{ form.hidden_tag() }}
    {{ form_field(form.name) }}
    <button type="submit" class="btn btn-primary">Generate</button>
</form>
{% endmacro %}

{% macro annotation_state(ann) %}
<input class="ann-state-checkbox"
       data-annid={{ann.id}}
       type="checkbox"
       {% if ann.is_closed() %} checked{% endif %}
       >
{% endmacro %}

{% macro link_to_doc(doc) %}
<a href="{{ url_for('document.view', id=doc.id) }}">{{ doc.title_or_id() }}</a>
{% endmacro %}
{% macro js_bool(obj) %}
{% if obj %}
true
{% else %}
false
{% endif %}
{% endmacro %}

{% macro glyphicon(name) %}
<span class="glyphicon glyphicon-{{ name }}"></span>
{% endmacro %}

{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}
            </label>
        {% endif %}
        <div class="controls">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                    {% set class_ = class_ + ' input-xlarge' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' input-file' %}
                {% endif %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
