{% macro upload_form(form, action) %}
<form method="post" action="{{action}}" method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <p>
        <label>
            File
            {{form.file()}}
        </label>
    </p>
    <p><input type="submit" value="Upload"></p>
</form>
{% endmacro %}

{% macro annotation_state(ann) %}
<input class="ann-state-checkbox"
       data-annid={{ann.id}}
       type="checkbox"
       {% if ann.is_closed() %} checked{% endif %}
       >
{% endmacro %}
