{% extends "base.html" %}
{% block content %}

<div id="pdfview"></div>

<script src="{{url_for('static', filename='vendor/pdfjs-1.0.21-dist/build/pdf.js')}}"></script>
<script src="{{url_for('static', filename='js/view.js')}}"></script>
<script type="text/javascript">
var src = "{{url_for('rawdoc', id=doc.id)}}";
var pv = document.getElementById("pdfview");
PDFJS.workerSrc = "{{url_for('static', filename='vendor/pdfjs-1.0.21-dist/build/pdf.worker.js')}}";
PDFJS.getDocument(src).then(function(pdf) { view_pdf(pv, pdf); });
</script>

{% endblock %}
