{% from 'macros.html' import js_bool %}
{% from 'macros.html' import upload_form %}
{% extends "base.html" %}
{% block title %}Document{% endblock %}
{% block content %}

{% if doc.title %}
<h1>{{doc.title}}</h1>
{% endif %}

<div id="docview" class="col-md-9"></div>

<div class="col-md-3">
<div id="exitfullscreen">
    <div class="list-group">
        <a id="fullscreen_button_exit" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-resize-small"></span>
            Exit fullscreen
        </a>
    </div>
</div>
<div id="subnav" data-spy="affix">

    <div class="list-group">
        <a id="fullscreen_button" href="#" class="list-group-item">
            <span class="glyphicon glyphicon-fullscreen"></span>
            Full screen
        </a>
        <a href="{{url_for('.view_list', id=doc.id)}}" class="list-group-item">
            <span class="glyphicon glyphicon-list"></span>
            List mode
        </a>
        <a href="{{url_for('.edit_doc', id=doc.id)}}" class="list-group-item">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </a>


    </div>
    <h3><span class="glyphicon glyphicon-eye-open"></span> View</h3>

    <div class="btn-group">
        <button class="view-states-btn btn btn-default" data-view="nothing">Nothing</button>
        <button class="view-states-btn btn btn-default" data-view="only-open">Only open</button>
        <button class="view-states-btn btn btn-default" data-view="everything">Everything</button>
    </div>

    <h3><span class="glyphicon glyphicon-pencil"></span> History</h3>

    <p>
    <a href="{{url_for('.view_revisions', id=doc.id)}}">Revisions</a>
    </p>

    <p>
    <a href="#" id="upload_link">Upload a new version</a>
    </p>

    <div id="upload_dialog" title="Upload a new version">
        {{ upload_form (form_up, url_for('.upload', revises=doc.id)) }}
    </div>

    <h3><span class="glyphicon glyphicon-comment"></span> Comments</h3>
    <form method="POST" action="{{ url_for('.post_comment') }}" id="post_comment_form">
        {{form_comm.hidden_tag()}}
        <p>{{form_comm.comment()}}</p>
        {{form_comm.docid()}}
        <p><input type="submit" value="Comment"></p>
    </form>
    <ul id="comments">
        {% for comment in comments %}
            <li>
            {{comment.text}}
            </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}

{% block js_end %}
<script type="text/javascript">
$( document ).ready(function(){
    upload_form_init();
    PDFJS.workerSrc = "{{url_for('static', filename='vendor/pdfjs-' + config.X_PDFJS_VERSION + '-dist/build/pdf.worker.js')}}";
    view_init({{doc.id}}, "{{doc.filetype}}", {{js_bool(readOnly)}});
});
</script>
{% endblock %}
