{% extends "base.html" %}
{% block content %}


<div id="pdfview" class="col-md-9"></div>

<div class="col-md-3">
<div id="subnav" data-spy="affix">
    <h3>Comments</h3>
    <form method="POST" action="{{ url_for('post_comment') }}" id="post_comment_form">
        {{form.hidden_tag()}}
        <p>{{form.comment()}}</p>
        {{form.docid()}}
        <p><input type="submit" value="Upload"></p>
    </form>
    <ul id="comments">
        {% for comment in comments %}
            <li>
            {{comment.text}}
            </li>
        {% endfor %}
    </ul>
</div>
</div>

<script src="{{url_for('static', filename='vendor/pdfjs-' + config.pdfjs_version + '-dist/build/pdf.js')}}"></script>
<script src="{{url_for('static', filename='js/text_layer_builder.js')}}"></script>
<script src="{{url_for('static', filename='js/ui_utils.js')}}"></script>
<script src="{{url_for('static', filename='js/view.js')}}"></script>
<script type="text/javascript">
var src = "{{url_for('rawdoc', id=doc.id)}}";
var pv = document.getElementById("pdfview");
PDFJS.workerSrc = "{{url_for('static', filename='vendor/pdfjs-' + config.pdfjs_version + '-dist/build/pdf.worker.js')}}";
PDFJS.getDocument(src).then(function(pdf) { view_pdf(pv, pdf); }).then(null, function() {
    pv.innerHTML = "Error loading the document.";
});
$('#post_comment_form').submit(function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "{{ url_for('post_comment') }}",
    data: $(this).serialize(),
    success: function(data)
    {
        var comm = $('#comment').val();
        var li = $('<li>').text(comm);
        $('#comments').append(li);
    }
  });
});
</script>

{% endblock %}
